.box-main-heading{
    background-color:tomato;
    margin: 10px;
    border: 30px;
    padding: 30px;
    text-align: center;
    color: beige;
    font-size: 100px;
    font-style: italic;
    border: 0 #27ae60;
    border: 30px;
    height: auto;
    width: auto;

}

.images-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0 #27ae60;
    height: auto;
    width: 250px;
}

.recipe-list-allign{
    display: block;
    text-align: center;

}


.main-heading-flex {
    display: flex;
    background: tomato;
    margin: 10px;
    border: 5px solid orange;
    padding: 30px;


}

.main-heading-text{
    text-align: center;
    color: beige;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}


.recipe{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: tomato;
    padding: 30px;
    margin: 10px;
    border: 5px solid orange;
}

.recipes-list{

    display: flex;
    flex-direction: column;
    
    background: tomato;
    padding: 2%;
    border: 10px;


    text-align: center;

    

}

.recipe-img{
    max-width: 100%;
}

.recipe-info {
    margin-top: auto;
    text-align: center;
}


@media (max-width: 920px) {
    .recipes-list{
        flex: 1 21%;
        flex-direction: column;

    }
}

@media (max-width: 480px) {
    .recipes-list{
        flex: 1 46%;
        flex-direction: column;
    }
}