@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');


body {
    margin: 0;
    background: beige;
    font-family: Besley, serif;
}

.header{
    display:flex;
    padding: 8px;
    justify-content: space-between;

    background: white;
    border-bottom: 5px solid rosybrown;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.header-mobile{
    display:flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    

    background: white;
    border-bottom: 5px solid rosybrown;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.left, :right{
    display: flex;
    align-items: center;
    gap: 16px
}



a {
    text-decoration: none;
    color: rosybrown;
    background: beige;
    border: 3px solid rosybrown;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
}

ul{
    display: flex;

    gap: 16px;
    margin: 0;
    padding: 0;

    list-style-type: none;
}



@media only screen and (max-device-width: 480px) {
    .header-mobile {
      display: flex;
    }
    .header {
      display: none;
    }
  }

@media only screen and (min-device-width: 481px) {
    .header-mobile {
      display: none;
    }
    .header {
      display: flex;
    }
  }